<html lang="en-US">
<head>
    <title><%= `${image.fileId}.${image.extension} - ${humanReadableSize} - mooi.ng` %></title>
    <%- include('models/header.ejs', {image: true, imageData: image, user, embedSettings}) %>
    <script>
        const creationTime = <%= image.timestamp %>;
        $(document).ready(() => {
            $('#time').html(`${new Date(creationTime).toLocaleString()} <span class="text-sm lg:text-md">(local)</span>`);
        });
    </script>
</head>
<body>
<%- include('models/navbar') %>
<div class="flex justify-center m-5">
    <div class="w-100 p-5 pb-3 bg-slate-200 shadow-md rounded-lg">
        <div class="flex justify-center mb-4">
            <span class="text-2xl md:text-3xl lg:text-4xl gradient text-bright-cyan font-bold text-center"><%= `${image.fileId}.${image.extension}` %></span>
        </div>
        <img src="/raw/<%= `${image.fileId}.${image.extension}` %>" alt="" class="rounded-lg mb-4 mx-auto">
        <p class="text-center text-md lg:text-lg font-normal mb-1">Uploaded by <b style="color: <%= user.settings.color ? user.settings.color : '#fff' %>" class="font-semibold"><%= user.username %></b> at <b id="time" class="text-amber-600 font-semibold"><%= new Date(image.timestamp).toUTCString() %></b></p>
        <p class="text-center text-sm lg:text-md mb-3 font-normal">Dimensions: <b class="text-lime-600 font-semibold"><%= `${image.width} x ${image.height}` %></b> | Size: <b class="text-lime-600 font-semibold"><%= `${humanReadableSize}` %></b> | Viewed <b class="text-lime-600 font-semibold"><%= image.viewCount %></b> time<%= image.viewCount === 1 ? '' : 's' %></p>
        <hr class="border-gray-300 mb-3">
        <p class="text-center text-sm lg:text-md font-normal"><a href="/" class="text-sky-500 underline hover:text-sky-600">mooi.ng</a> private image host</p>
    </div>
</div>
</body>
</html>